<div class='card'>
  <div class='card-header'>
     {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type="text" [(ngModel)]='ListFilter'/>
      </div>
    </div>
    <div class='row'>
        <div class='col-md-6'>
          <h4>Filtered by: {{ListFilter}}</h4>
        </div>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='filterStories && filterStories.length > 0'>
        <thead>
          <tr>
            <th>Story</th>
            <th>Type</th>
            <th>Number</th>
            <th>Pages</th>
            <th>Info</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let story of filterStories">
            <td><a [routerLink]="['/stories', story.id]">{{story.name}}</a></td>
            <td>{{story.storyType}}</td>
            <td>{{story.storyNumber}}</td>
            <td>{{story.pages}}</td>
            <td>{{story.extraInfo}}</td>
            <td>{{story.remark}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
